*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 900px;
    margin: auto;
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

body{
    font-family: arial;
}


.slide{
    padding: 0 15px;
}

.slide img{
    width: 100%;
    height: 450px;
    margin-top: 50px;
    object-fit: cover;
    transform: scale(0.8);
    filter: grayscale(100%);
    transition: 0.35s;
}

.slide.slick-center img{
    transform: scale(1);
    filter: grayscale(0);
}


.leftArrow,
.rightArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    color: white;
    background-color: black;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;

}

.leftArrow{
 left: -10px;
}

.rightArrow{
   right: -10px; 
}

.my-dots{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 8px;
}

.my-dots button{
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: transparent;
    font-size: 50px;
    transition: 0.35s;
}


.my-dots .slick-active button{
    width: 25px;
    border-radius: 25%;
    background-color: orange;
}