

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary: #b88e2f;
    --font-family: "Poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
}

.container{
    max-width: 1240px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                header start                                */


/* header {
    margin: 35px 0;
} */

nav{
    padding: 20px 0;
   
}

nav .row{
    justify-content: space-evenly;
}

nav .quicklinks,
nav .logo{
    width: 372px; 
}
nav #quicklinks{
    display: flex;
    gap: 5px;
}

.quicklinks .row{
    text-justify: right;
}

menu .quicklinks a{
    display: flex;
    gap: 45px;
}

nav .menu{
    width: 496px;
    
}

nav .menu a{
font-weight: 500;
font-size: 16px;
color: #000;
padding: 20px;   /*actual padding 36+ */
}

nav .menu li{
    display: inline-block;
}


/* -------------------------------------------------------------------------- */

#banner{
    background-image: url(../images/3\ banner.png);
    height: 78vh;
    position: relative;
    
}


/* banner section css */

.banDesc {
    border-radius: 56px;
    width: 643px;
    height: 443px;
    background:#fff3e3;;
    padding: 30px;
    position: absolute;
    right: 6%;
    top: 20%;
}



.banDesc h1{
font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 125%;
color: var(--primary);
}

.banDesc p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #333;
    margin-top: 20px;
    margin-bottom: 46px;
}
.banDesc #btn{
        padding: 25px 72px;
    width: 222px;
    height: 74px;
    background: var(--primary);
    display: inline-block;
    position: relative;
    

}

#btn h3{
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
text-transform: uppercase;
color: #fff;
}

.banDesc h2{
font-weight: 600;
font-size: 16px;
letter-spacing: 0.19em;
color: #333;
}

.banDesc{
    padding: 60px 40px 37px 50px;

}

.banDesc .btn{
    margin-bottom: 0px;
    margin-left: 0px;
}


/* range section css */

#range h2{
    margin-top: 50px;
    font-weight: 700;
    font-size: 32px;
    color: #333;
    text-align: center;
}

#range p{
font-weight: 400;
font-size: 20px;
text-align: center;
color: #666;
}

.rangeImg{
    margin: 50px 0px;
    text-align: center;
    display: inline-block;
    gap: 5px;
}

.rangeImg img{
    width: 381px;
    padding: 0px 10px;
    text-align: justify;
    justify-content: space-between;
    transition: 0.3s;
}

.rangeImg img:hover{
    width: 390px;
    outline: 2px solid blue;
}

.rangeImg p{
font-weight: 600;
font-size: 24px;
text-align: center;
color: #333;
padding-top: 15px;

}



/* Products starts */



#Products .row {
width: 285px;
display: flex;
justify-content: center;


}

#Products h2{
font-weight: 700;
font-size: 40px;
line-height: 120%;
text-align: center;
color: #3a3a3a;

}

.name h3{
    font-weight: 600;
font-size: 24px;
line-height: 120%;
color: #3a3a3a;
}

.name p{
    font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #898989;

}

.price{
  display: flex;
  align-items: center;
  gap: 10px;
}

.price h4{
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #3a3a3a;

}
.price h5{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
text-decoration: line-through;
color: #b0b0b0;

}




/* -------------------------------------------------------------------------- */
/*                                   footer                                   */

.funiro h2{
    font-weight: 700;
font-size: 24px;
color: #000;

}


.funiro p{
font-weight: 400;
font-size: 16px;
color: #9f9f9f;
padding: 50px 0px;
}
.links h2{
    font-weight: 500;
font-size: 16px;
color: #000;
padding: 25px 0px;
}

.help h2{
        font-weight: 500;
font-size: 16px;
color: #000;
padding: 25px 0px;
}

.newsletter h2{
    font-weight: 500;
font-size: 16px;
color: #9f9f9f;
}

.subscribe p{
    font-weight: 500;
font-size: 14px;
color: #000;
}


/* -------------------------------------------------------------------------- */