
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }

a{
  text-decoration: none;
}

ul,ol{
     list-style: none;
}


body{
    font-family:Arial, Helvetica, sans-serif ;
}

.container {
    width: 1170px;
   
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/*---- common CSS end----*/

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  section .row{
    gap: 12px;
  }  

.gallery{
    width: calc(25% - 12px);
    height: 400px;
    overflow: hidden;
    cursor: pointer;
}


.gallery img{
    width: 100%;
    height: 100%;
    display: block;
}


.popup{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    visibility: hidden;
    transition: 0.35;
}

.popup.show{
    opacity: 1;
    visibility: visible;
}


    
.popup img{
    width: 100%;
    max-width: 600px;
    height: 500px;
}

.cancelBtn{
    position: absolute;
    top: 30px;
    right:30px;
    color: white;
    background-color: transparent;
    font-size: 25px;
    border: none;

}

.leftArrow,
.rightArrow{
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.leftArrow{
    left: 50px ;
}

.rightArrow{
    right:50px ;
}