@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "PT Sans", sans-serif;
  --primaryColor:#fc0;
  --secondaryColor:#353535;
  --bgGradient: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,span {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
}

.btn--primary {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 11px;
    border-radius: 12px;
    background: var(--primaryColor);
    padding: 10px 21px;
    
}

.btn--primary.btn--lg{
    padding: 16px 45px;
    font-size: 20px;
}

.btn--outline {
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: var(--secondaryColor);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 16px 18px;
    display: inline-flex;
    align-items: center;
    gap: 11px;
}

.btn--outline.btn--lg{
    font-size: 18px;
    padding: 17px 43px;
}
/* -------------------------------------------------------------------------- */
/*                                Header Start                                */

#myNavbar ul li a {
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: var(--secondaryColor);
    padding: 23px 23px 4px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

}

#myNavbar ul li:hover a {
    border-bottom: 1px solid var(--secondaryColor);
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                Banner Start                                */

#banner h5{
    padding: 56px 0px 15px;
}

#banner h5{
    font-weight: 400;
    font-size: 24px;
    color: #353535;
}

#banner h1{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    color: #353535;
    margin: 15px 0 25px;
}

#banner p{
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: #353535;
    margin-bottom: 45px;

}

#banner:hover p{

}

#banner a{
    border-color: black;
}


#banner a:hover {
    border-color: blue;
}



#banner img{
    margin-top: 65px;
    margin-left: 100px;
} 


.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 200px;
  left: 850px;
  font-size: 20px;
  
}

.topRight{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #ffffff;
    padding: 12px 18px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    font-family: Arial, sans-serif;
    position: absolute;
    top: 70px;
    right: 0px;
    font-size: 20px;
    
}



.topRight input{
    border: transparent;
    
}

.myIcon{
    
  color: blue;
}




#mouse {
    text-align: center;
    width: 43px;
    height: 43px;
    position: relative;
    
}
#mouse img{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

#follow{
    
    display: inline-flex;
    align-items: center;
    gap: 5px;
    }
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                    About                                   */

#about{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    background: var(--bgGradient);
    

}

.aboutDesc{
    align-items: center;
}

.aboutDesc h1{
    font-weight: 700;
    font-size: 50px;
    color: #353535;
}

.aboutDesc{
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
}
.aboutDesc{
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
    position: relative;
}



.half-circle {
    position: absolute;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 200px;
    height: 100px;
    background: linear-gradient(#66b77a, #7ac289);
    border: 2px solid #000;
    border-bottom: none;
    border-radius: 200px 200px 0 0;


}

/* .line {
    position: absolute;
    width: 100%;
    height: 4px;
    background: purple;
    margin-top: -2px;
} */




/* -------------------------------------------------------------------------- */
/*                            .aboutSec.aboutDesc{}                           */
/* -------------------------------------------------------------------------- */

}
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                             Responsive actions                             */


@media (max-width:991px){
    #banner h5 {
    font-weight: 400;
    }

    #banner h1 {
     font-size: 40px;
   }

   #banner p {
    font-size: 15px;
    margin-bottom: 30px;
    }

    .btn--primary.btn--lg {
    padding: 8px 20px;
    font-size: 20px;
    }

    .btn--primary{
        border-radius: 5px;
    }
    
    .btn--outline.btn--lg {
        border-radius: 5px;
        padding: 9px 9px;
        }
   
}


/* -------------------------------------------------------------------------- */