*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


nav {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

nav button{
   width: 30px;
   height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
}

.sidebar{
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.35); 
    inset: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.sidebar.show{
    opacity: 1;
    visibility: visible;

}



.sidebarCtn{
    max-width: 300px;
    background-color: white;
    height: 100%;
    padding: 20px;
    position: relative;
    transform: translateX(-100%);
    transition: all 0.35;

}

.sidebar.show .sidebarCtn{
    transform: translateX(0%);
}



.sidebarCtn button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    padding: 5px;

}


.cursor{
    width: 40px;
    height: 40px;
    border: 2px solid green;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%); 
    transition: all 0.1s ease;
    z-index: 1000;
    pointer-events: none;

    
}


.cursorSm{
    width: 10px;
    height: 10px;
    background-color:red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%); 
    transition: all 0.1s ease;
    z-index: 1000;
    transition: 0.15s;
    pointer-events: none;

    
}


body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bangladesh-victory-day-16-december-illustration-free-vector.jpg"); /* your image path */
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    
    
}

body::before {
    margin-top: 50px;
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(246, 240, 240, 0.8);
    z-index: -1;
}





@media (max-width:991px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0);
    }

   .cursor,
    .cursorSm {
        display: none;
    }


    nav {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

/* body {
        background-size: contain;
        background-position: left top;
    } */


  
}








 
