*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 900px;
    margin: auto;
    position: relative;
    margin: 70px 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

body{
    font-family: arial;
}


p{
    font-size: 20px;
    font-weight:500;
    text-align: center;
}

.hide button{
    margin: 20px 0  0 400px;
}

.animationMagic,
.customedMagic,
.slideMagic,
.boxMagic{
    text-align: center;
}

.animationMagic.animationBox,
.customedMagic.customedBox,
.slideMagic.slideBox,
.boxMagic.box{
    margin-left: 200px;
}

.slideInOut,
.slideIn,
.slideOut,
.slideHideShow,
.slideShow,
.slideHide,
.hide button,
.hideShowbtn,
.hidebtn,
.showbtn{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid lightblue;
}

.hideShowbtn{
    width: 160px;
}



.hide button:hover{   
    border: 2px solid white;
    background-color: antiquewhite;
    }

.customedBox,
.slideBox,
.box{
    width: 300px;
    height: 200px;
    background:lightblue;
    margin: 20px 300px;
    overflow:scroll;
}

.customedBox{
    margin-top: 50px;
    transform:translateX(-205%) ;
    opacity: 0;
    transition: 0.35s ease;
}

.customedBox.active{
    margin-top: 50px;
    transform:translateX(0) rotate(90deg);
    opacity: 1;
}

.box p{
    font-size: 15px;
    text-align: left;
    
}




.animationBox{
    width: 300px;
    height:300px;
    background-color: lightgreen;
    margin-top: 50px;
    transform:translateX(-105%) ;
    opacity: 0;
    transition: 0.35s ease;
}

.animationBox.active{
    margin: 50px 0 0 300px;
    transform:translateX(0) rotate(90deg);
    opacity: 1;

    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes rotation {
    0% {
        transform:translateX(0) rotate(90deg);
    }

    30%{
        border-radius: 100px 100px 100% 100%;
    }
   
    100% {
         transform:translateX(0) rotate(180deg);
         border-radius: 100px 100px 100% 100%;
    }
}


.animationBox2{
    width: 300px;
    height: 20px;
    background-color: rgb(238, 144, 202);
    transform:translateX(-105%) ;
    opacity: 1;
    transition: 0.35s ease;
}

.animationBox.active1{
    opacity: 1;
    margin: 0 0 0 300px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes fadeIn {
    0% {
        transform:translateX(0) rotate(90deg);
    }

    30%{
        border-radius: 100px 100px 100% 100%;
    }
   
    100% {
         transform:translateX(0) rotate(0);
         
    }
}