@media (max-width: 991PX){
    header .quickLinks li {
    padding: 0 5px;
    border: none;
    
}

#bannerContent {
    padding: 10px 10px 17px 10px;
   
}

#bannerContent h1 {
    font-size: 40px;
    line-height: 1;
}

#bannerImage img {
    margin: 15px 5px 10px 5px;
    
}

.SliderBase{
    background-color: #EDF2EE;
    padding: 0px 0px;
}



.my-dots{
     margin: 10px 0;
   
}


.service-bar {
    padding: 20px;
    position: relative;
    bottom: 0px;
    right: 10px;
    left: 10px;
}

#serviceIconText{
    margin: 15px;
}

.menuIcon {
    z-index: 99;
}

#bannerContent{
    padding-left: 8px;
}


#Featured-Products {
    margin: 10px 0 10px 0px;
    
}

#Featured-Products a img {
    width: 80%;
    height: 100%;
    margin: 5px;
    padding: 5px;
}

.product-image img {
    margin: auto;
    text-align: center;
}

/*Featured-Products-2nd start*/ 
/*not done yet*/

/*Featured-Products-2nd end*/ 

    
    #promoOffer .row {
        flex-direction: column;
    }

    }


